html, body {
    margin: 0;
    padding: 0;
}



body {
    background-color: #1E1E1E;
    font-family: 'Montserrat', sans-serif;
}



.navigation {
    background-color: #1E1E1E;
    color: white;
    height: 50px;
}

.navigation ul {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    height: 50px;
    font-size: 19px;
}

.navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;  
    
    animation-name: profile-navigation;
    animation-duration: 2s;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: #7E74F1;
}

.navigation li.menu-icon {
    display: none;
}

.navigation li.menu-icon:hover {
    color: #7E74F1;
    cursor: pointer;
}




.home {
    color: white;
}

.home span {
    color: #7E74F1;
}

.home div {
    display: inline-block;
    height: 650px;
}




.profile-pic {
    width: 40%;
    text-align: center;

    animation-name: profile-home;
    animation-duration: 2s;
}

.profile-pic img {
    width: 400px;
    border-radius: 400px;
    margin-top: 100px;
}

.profile-title {
    vertical-align: top;
    width: 59%;

    animation-name: profile-text;
    animation-duration: 2s;

}

.profile-title h1 {
    font-size: 58px;
    margin-top: 300px;
    text-align: left;

}

.profile-title h2 {
    color: #BFBDC1;
    font-size: 17px;
    margin-right: 100px;
    margin-top: -25px;
}




.main {
    padding: 80px 180px 80px 100px;

    animation-name: content;
    animation-duration: 2s;
}

.main h1 {
    color: #7E74F1;
    font-weight: normal;
}

.main h2 {
    color: white;
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
}

.main h3 {
    color: #F0FFFF;
    font-size: 16px;
    text-transform: none;
}

.main p {
    color: whitesmoke;
    font-size: 14px;
    text-align: justify;
}

.main img {
    width: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
}




.navigation-path {
    list-style: none;
    padding-left: 0;
    color: whitesmoke;
}

.navigation-path li {
    display: inline-block;
}

.navigation-path a {
    color: whitesmoke;
}



#icons {
    margin: auto;
    margin-bottom: 15px;
    width: 30px;
}

#git {
    margin: auto;
    margin-bottom: 15px;
    width: 45px;
}




.miniature {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;
}

.miniature a {
    text-decoration: none;
}



.black-box {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 100px;
    transition: 1s;
}

.black-box:hover {
    opacity: 0.8;
    transition: 1s;
}

.black-box-text {
    text-align: center;
}

.black-box-text h1 {
    font-size: 16px;
    color: #F27609;
    text-transform: uppercase;
    margin-top: 0;
}

.black-box-text h2 {
    font-size: 16px;
    color: whitesmoke; 
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
}

.project-pic {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-link {
    color: #7E74F1;
    text-decoration: none;
}




@keyframes profile-home {
    0% {opacity: 0; transform: translate(0px,20px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes profile-text {
    0% {opacity: 0; transform: translate(0px,-20px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes profile-navigation {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes content {
    0% {opacity: 0; transform: translate(-20px,0px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

@media (max-width: 1000px) {

.navigation li {
    display: none;

    animation-name: profile-navigation;
    animation-duration: 0s;
        
}

.navigation li.menu-icon {
     display: inline-block;
}

.home div {
    display: block;
    height: auto;
}

.profile-pic {
    width: 100%;

}

.profile-pic img {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80%;
}


.profile-title {
    text-align: center;
    width: 100%;
}

.profile-title h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;  
}

.profile-title h2 {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.main {
    padding: 10px 5% 40px 5%;

}

.main p {
    text-align: left;
    line-height: 30px;
}

.caminho li {
    font-size: 14px;
}

.miniature {
    max-width: 100%;
    background-size: auto 100%;
}

.black-box {
    opacity: 0.8;
}

.menujs {
    height: auto;
}

.menujs ul {
    text-align: center;
    height: auto;
    padding-right: 15%;
    padding-left: 15%;
}

.menujs li{
    display: block;
    border-bottom: solid gray 1px;
    width: 100%;
    padding: 0;
}


}